#Nemo{
    position: fixed;
    top: 0;
    right: 0;
}

body{
    background-color: darkblue;
}

figure{
    border: 15px double darkolivegreen;
    background-color: darkblue;
    padding: 5px;
    display: table;
}